[2019-06-25 14:46] zerolab opened #2 "Add documentation"
Needs a more comprehensive documentation, especially around the different available GQL types and Gatsby image support

[2019-06-25 14:48] zerolab opened #3 "Add tests"

[2019-06-26 12:10] zerolab commented on #2
Leaving https://wagtail-grapple.readthedocs.io/en/latest/ for reference

[2019-07-09 16:29] jafacakes2011 opened #4 "Wagtail release 2.6rc1"
[code]

Release: https://pypi.org/project/wagtail/2.6rc1/
Notes: https://docs.wagtail.io/en/latest/releases/2.6.html

I can't see a reason that we shouldn't support 2.6, I say we bump the `<2.6` to `<2.7`

[2019-07-09 16:49] zerolab commented on #4
Can you please open a PR?

[2019-07-23 10:39] jafacakes2011 commented on #4
This has been handled as part of:
https://github.com/torchbox/wagtail-grapple/commit/ad22212664f6d018bc436e3f404389b7b7bf4830

[2019-07-23 10:39] #4 closed

[2019-07-26 20:24] briaguya opened #10 "KeyError when using custom image models"
In [get_image_type()](https://github.com/torchbox/wagtail-grapple/blob/fe2196914bcc5222147e6efaea4d627873eb914e/grapple/types/images.py#L134) the registry only has `WagtailImage` in it, which leads to a KeyError when using custom image models as described in the [wagtail custom image documentation](http://docs.wagtail.io/en/v2.5.1/advanced_topics/images/custom_image_model.html)

[2019-07-29 14:43] NathHorrigan commented on #10
This is fixed in the latest version @briaguya. Thanks for pointing this out :+1:

[2019-07-29 14:52] briaguya commented on #10
That is great news! I’ll try updating my branch to use the latest!

[2019-07-31 14:48] #10 closed

[2019-08-21 11:21] #3 closed

[2019-08-21 11:21] #2 closed

[2019-10-11 21:06] loleg opened #25 "SyntaxError in Python 3.5"
[code]

 I think at least the README should make a note of it. Upgrading to 3.6 resolved this error for me.

[2019-10-11 21:48] #25 closed

[2019-10-19 20:12] mansrz opened #27 "StreamField RichText"
Hi,
I got an error on GraphQLStreamfield when i use "RichText"  field

Error:
![DeepinScreenshot_select-area_20191019144147](https://user-images.githubusercontent.com/4426200/67150599-38400980-f27f-11e9-88af-d2c5fd853482.png)

Possible Solution:
![DeepinScreenshot_select-area_20191019151105](https://user-images.githubusercontent.com/4426200/67150858-c4076500-f282-11e9-8db9-f7b3b66b6e24.png)

[2019-10-21 15:29] mansrz commented on #27
this is my code:

![image](https://user-images.githubusercontent.com/4426200/67218647-56774800-f3ec-11e9-91bd-57327249b09c.png)

Field in Page
![image](https://user-images.githubusercontent.com/4426200/67218662-5c6d2900-f3ec-11e9-916b-4b43b1713e5d.png)

[2019-10-24 16:55] NathHorrigan commented on #27
Hi @mansrz,

Could you post your GraphQL query please?

When querying streamfield data you can do the following:
[code]

[2019-10-25 00:16] mansrz commented on #27
Hi, @NathHorrigan
`
{
  pages{
    ..on HomePage{
      example_content{
        rawValue
      }
    }
  }
}
`

[2019-10-25 10:30] NathHorrigan commented on #27
Hi @mansrz,

Your question has made me realise I need to update the docs (badly, task for today/tomorrow). In your struct block definition do the following:

[code]

This will generate a GraphQL Streamfield type that you can use like so:

[code]

_Side Note: I'd recommend copying and pasting code into Github Issues instead of images as it makes it easier for me to read and refactor your code like

[2019-10-27 17:39] #27 closed

[2019-11-03 19:06] mansrz opened #31 "Add content type filter for the pages query"
Hi, thanks for help me with last problem
Now,  i don't know if it is a bug or concept error mine, but if you can help me please can be help for other

I tried to get a page specific with filter by contenttype but i got null response, so i have to query "pages" instead "page" and can't filter by contenttype this cause me get many "{}"
![DeepinScreenshot_select-area_20191103135934](https://user-imag

[2019-11-11 13:05] jafacakes2011 opened #32 "Tests are failing on master (wagtailmedia)"
We depend on https://github.com/torchbox/wagtailmedia and this is causing test issues with supporting Wagtail 2.7.0.

This will be fixed when Wagtailmedia has the following PRs merged:
 -  [ ] https://github.com/torchbox/wagtailmedia/pull/63
 -  [ ] https://github.com/torchbox/wagtailmedia/pull/71

[2019-11-15 21:30] easherma opened #33 "Ability to add alongside existing graphql implementation?"
Hey,

Love the potential of this project, and we'd like to explore using it. However, we'd need to migrate away from our current graphene implementation, and this could take some time. Is there a way we could start including grapple as an alternate endpoint?

I tried giving it its own namespace in urls.py, but setting the schema as instructed in settings.py also sets the schema for our existing gr

[2019-11-16 09:57] zerolab commented on #33
Hey @easherma,

I think you can accomplish that by not explicitly defining `SCHEMA`, but rather passing a `schema` kwarg to the endpoint url definition as per http://docs.graphene-python.org/projects/django/en/latest/tutorial-plain/#creating-graphql-and-graphiql-views

[2019-11-25 15:43] digitaljohn opened #34 "StructBlock issue?"
I'm currently working with StreamFields and attempting to define a simple StructBlock.

Everything is working correctly within Wagtail but when using grapple i'm failing to query without errors.

My StructBlock definition is like so:

[code]

...and I am using it within a SteamField like so:

[code]

When I try and query anything in the `blocks` property I am getting this error:

[code]

[2019-11-25 16:03] zerolab commented on #34
Hey @digitaljohn ,

Thank you for reporting the issue. Can you please add a bit more context? e.g. what is your `graphql_fields` definition and how are you querying the data?

[2019-11-25 16:32] digitaljohn commented on #34
@zerolab My bad... I was not specifying the `graphql_fields` or using `@register_streamfield_block`. Apologies!

[2019-11-25 16:32] #34 closed

[2019-11-25 16:40] zerolab commented on #34
Not a problem at all.

I am curious whether the docs can/should be clearer on this. All suggestions for improvement are most welcome

[2019-11-27 17:03] glensomerville opened #35 "Support for Wagtail 2.7"
I know Wagtail 2.7 is quite fresh still, but just wondering whether it would be possible to add support? Pipenv is complaining about incompatible versions in dependencies when trying to install `wagtail-grapple` into a project with Wagtail 2.7.

[2019-11-27 17:39] zerolab commented on #35
Opened #36 to address the setup issue. Note that it depends on https://github.com/torchbox/wagtailmedia/pull/63 as well. Will look at speeding up the fix release

[2019-11-28 07:09] glensomerville commented on #35
Great, thanks! I got around the issue in dev with `pipenv install --skip-lock` for the time being.

[2019-11-28 15:55] yannisgu opened #37 "Support for Image-Block in StreamField"
I tried out to add a Stream-Field to my model, with an image block.
The value of `rawValue` was the title of the image, so not really useful.
Would it be possible to have proper support for it?

[2019-11-30 21:12] yannisgu commented on #37
My bad, I didn't see that there is a a `ImageChooserBlock` type.
For future readers, usage might look like this:
[code]

[2019-11-30 21:12] #37 closed

[2019-12-02 13:58] digitaljohn opened #38 "ListBlock implementation incomplete?"
I'm trying to create a simple Gallery Block working for use within a StreamField field. For example:

[code]

Within the GraphQL response when querying, `items` is being returned as an object rather than array of items and the object returned is actually itself.

Is this implementation complete? I'm by far a Python expert but could it be to do with the below line of code?

https://github.com/torch

[2019-12-04 19:14] easherma opened #39 "example app docker build fails"
![example](https://user-images.githubusercontent.com/10539855/70173238-11575e80-1698-11ea-86c7-c8feb189c283.png)

[2019-12-13 09:28] zerolab commented on #35
wagtailmedia has a new release, so this should be sorted

[2019-12-13 09:28] #35 closed

[2019-12-13 09:29] zerolab commented on #32
wagtailmedia has a new release and master allows installing Wagtail 2.7

[2019-12-13 09:29] #32 closed

[2019-12-13 09:30] zerolab commented on #33
@easherma did you have any luck with the above? I am curious as to where you got. Would be a valuable addition to the docs

[2019-12-20 18:45] easherma commented on #33
@zerolab thanks for the checkin! I wasn't able to get it set up and working at the time, would love to revisit it soon.

[2020-01-01 20:48] indirectlylit opened #40 "request: setting to disable auto-conversion from snake_case to camelCase"
Currently, the graphene schema is initialized as follows:

https://github.com/torchbox/wagtail-grapple/blob/c35408ad3e6a5e273d1e2316c0f3c988f5064501/grapple/schema.py#L47-L49

This automatically converts model attribute names from e.g. `url_path` to `urlPath`. While some people might like this because it conforms to the convention of camel-casing names in javascript, it also fails the [grep test](

[2020-01-02 00:17] indirectlylit opened #41 "errors while using 'parent' attribute"
I have a couple `Page` subclasses, `BlogPage` and `BlogIndexPage` as described [in the tutorial](https://docs.wagtail.io/en/v2.7/getting_started/tutorial.html).

### Cannot get parent

A query like this returns correctly a `BlogPage`:

[code]

[code]

However attempting to get the parent does not work:

[code]

[code]

This code is giving the error:

https://github.com/torchbox/wagtail-grapple/blo

[2020-01-02 10:46] zerolab commented on #41
Hey @ indirectlylit,

Thank you for the detailed bug report! The fix for line 59 is indeed the correct one. `get_parent()` returns the parent node (a Wagtail `Page` object).

on, the root page parent issue -- needs something like

[code]

and a test for getting the parent. Would you be able to sumbmit a PR?

[2020-01-02 19:27] indirectlylit commented on #41
Thanks @zerolab - Grapple is a great tool and a big improvement over manually creating graphql schemas. Nice work!

I'm currently in a quick evaluation & prototyping phase so unfortunately don't have time to submit PRs at the moment. Would be happy to contribute in the future if we end up using the package though.

[2020-01-03 09:33] zerolab commented on #41
Thank you. All credit goes to @NathHorrigan for the package.

Hope to get some time to sort this out today. Good luck with the prototyping!

[2020-01-08 01:39] indirectlylit opened #43 "URL handling in RichTextBlock output"
I'm not sure what the expected behavior here is, but I ran into an unexpected inconsistency between the rendering behavior of `RichTextBlock` and other blocks: `RichTextBlock` uses absolute URLs (e.g. for internal links and image source URLs) while image renditions use fully-qualified URLs.

For example, here I'm rendering a `StreamField` that includes both rich text blocks and images:

[code]

Th

[2020-01-08 09:36] zerolab commented on #43
Good find! I believe it is related to that core issue.

/cc @NathHorrigan

[2020-01-12 03:08] indirectlylit opened #45 "Exception: model attribute exists but is not a field"
I'm not exactly sure how what happened because I don't recall seeing this behavior previously.

I have a model like this:

[code]

which gives me an error like:

[code]

I am currently working around this by manually including all properties of a wagtail `Page`, but that doesn't seem quite correct based on the documentation:

[code]

Versions:

[code]

[2020-01-24 08:14] NathHorrigan commented on #45
Hi @indirectlylit,

This is an issue caused by how graphen-django handles excluded fields for model types that got released as a feature release. If you update to the latest grapple version it should lock your version of graphene-django to before the new release.

To be specific you need:
[code]
[code]

[2020-01-24 08:14] #45 closed

[2020-01-24 15:49] indirectlylit commented on #45
thank you

[2020-02-05 21:17] easherma commented on #33
@zerolab I couldn't get this to work but I'd still like to. Feel free to reach out if you'd like to help.

[2020-02-12 14:24] claudiopedrom commented on #38
@digitaljohn did you find a solution?

I have the same issue, I can't resolve any of the blocks inside a `ListBlock`. And I also have a problem using a `ImageChooserBlock()` inside the `ListBlock`.

`"message": "int() argument must be a string, a bytes-like object or a number, not 'Image'",`

My `StreamField` looks like this:

[code]

My query is also very verbose. Am I doing something wrong?

[co

[2020-02-17 14:31] SamuelTaylor001 commented on #31
@mansrz why did you close this? Did you find a solution? I am getting the same issue with the following query

`query MyQuery {
  wagtail {
    pages {
      ... on NewsPage {
        id
        intro
        title
      }
    }
  }
}`

I realise that this could be fixed on the client side however, it defeats the purpose of GraphQL if we are forced to process unnecessary data.

Can we reopen this?

[2020-02-17 17:18] mansrz commented on #31
I would believe that it should be opened, I closed it because I "solved it" at the moment doing the query by id but isn't the correct solution

[2020-02-18 10:12] digitaljohn commented on #38
@claudiopedrom we did not find a solution and ended up making our approach less deep. It appears this functionality simply is not complete. 🤷‍♂

[2020-02-18 10:18] zerolab commented on #38
@digitaljohn @claudiopedrom, @NathHorrigan maintains this in his free time, so any tweak/improvement is more than welcome.

[2020-02-25 09:17] stan-sack opened #46 "Runtime warnings"
Hey, I'm getting a couple of warnings when I run my project:

The first one is as follows:
[code]
This only happens when I pass my blog app in `GRAPPLE_APPS`.

The second one is:
[code]
I guess we should maybe update to the new `get_document_model` implementation. I can try and make a PR if I have time.

[2020-02-29 05:10] Junatum commented on #43
+1 I'm experiencing exactly like this.

[2020-03-03 16:09] #38 closed

[2020-03-03 16:09] NathHorrigan commented on #38
This was fixed in https://github.com/torchbox/wagtail-grapple/pull/47

Please see this PR on how to use ListBlock

[2020-03-03 16:10] NathHorrigan commented on #38
@digitaljohn @claudiopedrom

[2020-03-03 21:00] j-leavitt opened #48 "StreamBlock implementation issue"
Hi there,

I am receiving the following exception when querying an image inside of a StreamBlock (see use case and query below):

The issue appears to be due to the fact that the StreamBlock implementation in streamfield.py uses the value from StreamChild.value.stream_data to resolve the stream blocks.  For ImageChooserBlock, it looks like the value in stream_data resolves to its ID, and not the I

[2020-03-04 17:17] claudiopedrom commented on #38
Thanks @NathHorrigan !

I'll have a look as soon as I have an opportunity.

[2020-03-09 09:20] digitaljohn commented on #38
Thanks @NathHorrigan !

[2020-03-10 18:46] IAmNatch opened #49 "RichTextBlock inside of StructBlock"
Hi there,

I'm very excited to be using wagtail-grapple after a long while of writing my own nodes in the past.

I think I've found a bug with streamfield rendering, but it may be a bug with wagtail as apposed to grapple.

Essentially, when I render a `fields.RichTextField` directly on my model, and add a "GraphQLString" to panels, everything works perfectly on my query. As well, when I use a `blo

[2020-03-11 10:55] zerolab commented on #49
May be an issue with the https://github.com/torchbox/wagtail-grapple/blob/master/grapple/types/streamfield.py#L255 definition

Mapping at https://github.com/torchbox/wagtail-grapple/blob/master/grapple/types/streamfield.py#L350

Do you happen to any other error tracebacks?

[2020-03-11 23:11] IAmNatch commented on #49
Hey @zerolab, thanks for the quick reply. This file definitely seems like the culprit.

I do have the following error trace. Please excuse the Docker formatting:
[code]

[2020-03-12 01:02] IAmNatch commented on #33
Hi @easherma,

Following the links above I was able to combine the grapple schema with my own. I'm still trying to get subscriptions to work, but I think that is a completely separate issue. Here's an example of my schema.py

[code]

In the above snippet I have extracted the Query and Subscription from the grapple_schema function. From there you can use them as mixins, and include your own Query's

[2020-03-12 01:14] IAmNatch opened #50 "Problem using subscriptions"
Hi there,

I'm trying not to bog down the repo with issues, but have also exhausted all other avenues. Once I've gotten a working demo together I'll put it online, and as well commit to help update some of the documentation around avoiding pitfalls.

Currently, when I query a page using a token, it correctly renders the draft. However, when I add the subscribe keyword, I receive the following erro

[2020-03-12 09:19] zerolab commented on #49
If you could get the value of `html` in `return FIND_A_TAG.sub(self.replace_tag, html)`, that would help elucidate things. If not, I will see if I can look into this over the weekend

[2020-03-12 21:31] IAmNatch commented on #49
@zerolab I'd assume it's supposed to be:
```<h2>Amazing Things</h2><p>Followed by smaller things</p>```
However if that were the case I imagine things would be working.

I'm not really sure how I'd be able to see that value without overwriting the wagtail/core file. I'll see if I can pull it up in my debugger for more info.

Looking forward to making some headway here!

[2020-03-13 20:04] IAmNatch commented on #50
I have three additional pieces of information that might be helpful.

One: The error message above is displayed at the '/graphql' endpoint. If I try to use the same query on the '/graphiql' endpoint, I receive a similar yet different error message:

[code]

Two: My Django setup is running in docker. Is there a specific port that subscriptions rely on that I should be opening?

Three: I receive the

[2020-03-13 22:11] IAmNatch commented on #50
Okay I was able to make some progress. Sorry to bombard but I figure more info is better than less.

I realized my development server was running with `runserver_plus` which I've learned is not compatible with WS. I moved back to regular `runserver`, and in doing so have resolved part of the issue.

Now, the `/subscriptions` endpoint no longer receives 301, I can connect to WS via `websocat` inter

[2020-03-18 16:37] IAmNatch commented on #50
@NathHorrigan I hope all is well with your team despite all that's going on in the world.

I'm wondering if you've ever experienced anything like the above issue and if you have any hints as to where I should be looking. Thanks a lot!

[2020-03-18 16:38] NathHorrigan commented on #50
Hi there!

Sorry for the lack of support recently, My schedule has been jam-packed. I will take a closer look at the weekend.

Have a great week!

[2020-03-18 16:59] IAmNatch commented on #50
Thanks for the quick reply! No worries at all. Looking forward to hearing from you.

[2020-03-27 19:11] #41 closed

[2020-03-31 17:57] IAmNatch commented on #50
Hey there! Here's a build log with more info that may be useful.

Based on the install instructions I don't beleive I'm supposed to specific any versions but maybe it would be better if I pinned certain dependancies? Happy to jump on a chat as well.

[code]

[2020-04-04 17:55] ruisaraiva19 opened #60 "Issue with GraphQLPage model"
# 🐛 Bug Report
I'm having an issue with the `GraphQLPage` grapple model. It always returns the Wagtail core `Page`.

## 💻 Code Sample

I have a snippet with a `page` property that links to any Wagtail page.

[code]

## 😯 Current Behavior

But when I run the query on GraphiQL, always resolves with the `wagtailcore.Page` as the `contentType`.

Query:
[code]

Response:
[code]

## 🤔 Expected Behavior

[2020-04-07 21:30] ruisaraiva19 opened #61 "Add non-nullable support to `register_query_field` help decorator"
# 🙋 Feature Request

## 🔦 Context
Recently the non-nullable support was added to the Grapple fields on #51.
Now with the `register_query_field` help decorator, a similar approach would be nice!

## 😯 Describe the feature
Adding the same non-nullable functionality to the `register_query_field` help decorator for consistency across the GraphQL schema.
3 variables would be enough to cover all scenari

[2020-04-08 21:24] ruisaraiva19 opened #63 "Issue with GraphQLColletion model when required"
# 🐛 Bug Report
I'm having an issue with the `GraphQLColletion` grapple model. When `required=True` is passed, all `QuerySetList` arguments disappear.

## 💻 Code Sample

When we add a `GraphQLColletion` to the `graphql_fields` list, we get something like this on the GraphQL schema by default:

[code]

`tags` field inside `Article` type:

[code]

## 😯 Current Behavior

If I add `required=True` to th

[2020-04-17 09:58] #63 closed

[2020-04-17 10:06] #40 closed

[2020-04-17 21:37] indirectlylit commented on #40
thank you!

[2020-04-21 14:34] fabienheureux opened #66 "Query Collections from graphql"
I am trying to query [Wagtail Collections](https://docs.wagtail.io/en/v2.8.1/editor_manual/documents_images_snippets/collections.html) from graphql.

I registered the `Collection` model as a snippet, using `register_snippet(Collection)` function from `wagtail.snippets.models`, but the model instances are not returned when I query snippets
[code]

Any idea how I could return collections alongside o

[2020-04-21 16:37] fabienheureux commented on #66
https://github.com/torchbox/wagtail-grapple/pull/67

[2020-04-21 21:47] #66 closed

[2020-04-29 16:38] thclark opened #68 "Need to work via a through model"
I have an explicit through model, with which I define a Many-to-Many relationship to allow the related items to be orderable in wagtail.

I've succeeded in getting this to work with grapple as shown below (for posterity should anyone need the same).

However, the query and response are messy, you have to go all the way through the through model. I'm wondering if there's a more elegant way of achie

[2020-04-30 14:22] leewesleyv opened #69 "Confusing docstring in PageInterface"
The docstring of `resolve_children()` reads: "Resolves a list of live children of this page with `show_in_menus` set." (I guess [this](https://docs.wagtail.io/en/stable/reference/pages/queryset_reference.html#examples) is the source of the docstring). The function however, does not filter live child pages, nor does it filter on `show_in_menus`.

I wouldn't mind making a PR to resolve this issue, b

[2020-05-01 14:17] SamuelTaylor001 opened #70 "Unable to map ClusterTaggableManager"
Hi,

I'm using the tag manager for wagtail to tag some of my posts however, I've noticed that grapple doesn't know how to interpret ClusterTaggableManager.

This is how my class looks
[code]

This is how my field looks
[code]

This is the output from graphene's converter.py file:
[code]

When previously trying to implement my own Graphene coverter for Wagtail, I used the following code.

[code]

D

[2020-05-05 15:51] SamuelTaylor001 opened #71 "base64 and tracedSVG are not part of ImageObjectType"
Using the guide, it does not seem that Base64 or SVG exists within the object that defines images types. The documentation section in question is linked here: https://wagtail-grapple.readthedocs.io/en/latest/general-usage/graphql-types.html?highlight=tracedSvg%3A%20String%20base64%3A#imageobjecttype

The query:
[code]

The output:
[code]

I believe that this is inhibiting use with [Wagtail-Gatsby]

[2020-05-05 19:24] zerolab commented on #71
Looks like that particular piece of functionality was removed in #15, but the docs were missed.

At the same time, https://github.com/NathHorrigan/wagtail-gatsby/blob/master/wagtailgatsby/models.py#L22 indicates that by using `GatsbyImage` as your custom image base, you should be getting `traced_SVG`.

And maybe add `GraphQLString("base64")` to your image model `graphql_fields` declaration  for th

[2020-05-30 19:04] IAmNatch opened #73 "Django 3 Compatiblity"
Hey there! I'm wondering if there's plans to make this compatible with Django 3 and ASGI?

[2020-06-03 15:49] IAmNatch commented on #70
@SamuelTaylor001 I have mapped ClustTaggableManager to a graphQL field in the past. I think I based most of the implementation of this article: https://jossingram.wordpress.com/2018/04/19/wagtail-and-graphql/

If it would be beneficial for you, I'd be happy to find out exactly how I implemented it and post here.

Note that implementing this will require you to have your own custom graphQL schema t

[2020-06-15 01:41] tbrlpld commented on #39
A bit more details would be helpful. Did you make the `requirements.txt` available in the Docker container (either by copying it or by mounting the directory it lives in as a volume)?

[2020-06-16 02:00] tbrlpld opened #75 "Query for `PageInterface.parent` leads to error"
Hi,

When I am trying to query for the `parent` field on a page of e.g. `BlogPage` which is a child of `BlogIndexPage` I get an error.

Here is the query:
[code]
->
[code]

It seems like there is an issue with the resolver function. Since there should only be one parent and not multiple, I would not expect the use of `objects.all()`.

Maybe my setup is wrong though.

Here are the two models.
[code

[2020-06-16 23:44] tbrlpld commented on #70
@IAmNatch Thanks for that. That works, but only gets me a string representation of the tags. I wish I could extracted the data in a more structured format.

[2020-06-17 01:30] tbrlpld commented on #70
Ok, I am massively confused. For some reason, once there is any method registered with `@convert_django_field.register(ClusterTaggableManager)` for `ClusterTaggableManager` it will show the tags as a list.

[code]
->
[code]

This works even when the registered function is completely nonsensical (like just returns `None`).
[code]

What is going on here? I ran into this, because I was trying to cust

[2020-06-17 03:38] tbrlpld commented on #70
Ok, I was able to figure something out. To enable Grapple to make use of a custom type, the generic `GraphQLField` needs to be used with the custom type.

Here is how I put it to use:
[code]

[code]

[2020-06-25 23:07] tbrlpld commented on #50
I ran into the same error message. I do not have a docker container in the mix and use the normal `runserver`.

[2020-06-26 01:33] tbrlpld commented on #71
Hm interesting. There seems to be a bit of a conflict between the documentation and the actual project direction. Maybe I am wrong but it looks like @NathHorrigan is moving the Gatsby specific functionality to a separate library.

Should we maybe update the Grapple documentation, remove the references to this funcitoinality and rather mention the [wagtail-gatsby](https://github.com/NathHorrigan/wa

[2020-06-27 14:07] timmysmalls commented on #73
@NathHorrigan I'd like to resolve this. I'd like to be able to use Grapple with Wagtail 2.9 and Django 3.0. I'm not sure if you're aware of any things that need to change in order for things to work? Or is it just a matter of "update the dependencies and see what breaks"?

[2020-06-27 14:17] NathHorrigan commented on #73
I haven’t had the chance to test it yet, I’m open to accepting any error logs, bugs etc

[2020-07-04 12:43] mcfarlanedev commented on #31
I'm also having a similar issue with multiple empty results being returned on a HomePage query. I only have one HomePage type in this example, and yet the results also includes empty objects:

`{
  pages {
    ... on HomePage {
      title
    }
  }
}
`
![image](https://user-images.githubusercontent.com/12474833/86512710-5002f200-bdfc-11ea-9add-4909c09a6c32.png)

[2020-07-05 13:53] mcfarlanedev commented on #31
I'm also having a similar issue with multiple empty results being returned on a HomePage query. I only have one HomePage type in this example, and yet the results also includes empty objects:

`{ pages { ... on HomePage { title } } }
`

![](https://user-images.githubusercontent.com/12474833/86512710-5002f200-bdfc-11ea-9add-4909c09a6c32.png)

[2020-07-05 21:20] timmysmalls commented on #46
I also have the first one. I also notice that whenever I make migrations globally, so `manage.py makemigrations` without specifying an app, it adds a new migration for grapple. Something about removing the stubmodel.

[2020-07-05 23:13] timmysmalls opened #78 "StructValue' object has no attribute 'value'"
I'm getting an error when I work with a nested StructBlock, and try to retrieve the fields using Grapple. In my Streamfield I have a StrucBlock that, among other things, contains a ListBlock with a ButtonBlock (a StructBlock) inside. I hit this exception: `StructValue' object has no attribute 'value'`. It still returns all the other fields from my query correctly, but the two fields on the button

[2020-07-13 12:38] NathHorrigan commented on #31
I can see how confusing this could be...

What do you think of the following choices @SamuelTaylor001:

[code]

will return the first result based on that contentType and will be the equivalent of the following ORM query: `BlogPage.objects.first()`

[2020-07-17 02:55] tbrlpld commented on #50
I have tried searching for similar issues, couldn't really find anything. I saw some comments somewhere (sorry I lost the source 😅) that pointed out that the GraphiQL interface is not able to work with subscriptions. Because of that I have tried to create a subscription with the Altair client (which I think was used in the [demo gif](https://github.com/GrappleGQL/wagtail-grapple/blob/master/docs/d

[2020-07-17 23:28] tbrlpld commented on #50
Another thing that seems different for me from the docs is the cookies. I do not see any cookies `used-token` being placed on the "Admin" page or the "Preview page.

To extract the token I have to click "Preview" in the Admin, then in the new tab open the developer console (which at this point is still empty), then I have to refresh the page or go back to the Admin and click the "Preview" button a

[2020-07-18 09:20] zerolab commented on #50
The `used-token` cookie is set in https://github.com/torchbox/wagtail-headless-preview/blob/0d89fb2e4140d6eaabe62e0a7428424c9e848c3c/wagtail_headless_preview/models.py#L122 (and is dependent on setting `HEADLESS_PREVIEW_LIVE = True`)

Would you be able to check that bit? I suspect the docs need updating

[2020-07-18 09:21] zerolab commented on #50
Ah, https://github.com/GrappleGQL/wagtail-grapple/blob/abdaded1862c781923529431fd2ee946a5f264f3/docs/general-usage/preview.rst#L100 does mention `HEADLESS_PREVIEW_LIVE = True` 🤔

[2020-07-19 00:35] tbrlpld commented on #50
@zerolab Yes, I have that option set. I am using the project in the `/example` directory of the Grapple repo for testing.

Even with `HEADLESS_PREVIEW_LIVE = True` I do not see the `used-token` cookie in neither admin nor preview tab.
I am checking the cookies with the Firefox Developer Console.

Admin
<img width="1388" alt="image" src="https://user-images.githubusercontent.com/24797493/87864342-d

[2020-07-20 06:40] tbrlpld opened #81 "Update for Preview documentation"
I am currently working on setting up my first project with Wagtail as the CMS and a Gatsby frontend and got quite confused when I was trying to the preview to work.

In my setup I closely followed the instructions in the docs and added all the settings for the subscriptions with `channels`. This unfortunately did not quite work out for me (as is documented in [another issue](https://github.com/Gra

[2020-07-20 08:51] zerolab commented on #81
@tbrlpld thank you for the detailed write-up. I agree the docs can be improved, so yes please to your offer for the PR.

[2020-07-22 18:48] NathHorrigan commented on #81
Thanks @tbrlpld , I'll be happy to review anything once the PR is ready :)

[2020-07-28 13:23] #48 closed

[2020-07-29 05:30] tbrlpld opened #83 "Querying `blocks` field on `StructBlock` (in `StreamField`) leads to error message"
Hi,

I have just installed the latest Grapple version from master (which should already include https://github.com/GrappleGQL/wagtail-grapple/pull/82). Since it mentioned #54 which was also concerned with the `StructBlock` https://github.com/GrappleGQL/wagtail-grapple/pull/54#issuecomment-604432979, I thought I would help my issue here. Turns out that is not the case.

The issue is that querying t

[2020-07-29 20:51] tbrlpld opened #84 "`items` of `ListBlock` in `StreamField` have same `id` as the `ListBlock` itself"
Hi,

I was just working with a `ListBlock` in a `StreamField` and noticed an error message in the developer console.
[code]

Running a query on the GraphQL endpoint reveals that all the `items` of `ListBlock` in `StreamField` have same `id` as the `ListBlock` itself (and thus all the `items` have the same `id`).
[code]

[2020-07-31 20:17] ruisaraiva19 opened #85 "Wagtail 2.9 compatibility"
# 🙋‍♂️ Feature Request

## 🔦 Context
Wagtail version 2.9 was released on 6 May 2020, and the latest Grapple version (0.5.1) requires Wagtail version >=2.5,<2.9.

## 😯 Describe the feature
Upgrade de dependencies requirements versions to support Wagtail version 2.9 as well.

## ⚠️ Upgrade considerations
Wagtail 2.9 removed support for Django 2.1.

[2020-07-31 22:59] timmysmalls commented on #78
It seems that this part does get tested, but it uses StreamValues in the test, and from what I can see the testcases should use StructValues instead, which have a different interface.

[2020-08-01 15:51] zerolab opened #86 "Upgrade to latest Channels"
And upgrade to Channels 2.x for Django 3.0 support

Upgrade guide: https://channels.readthedocs.io/en/latest/one-to-two.html

[2020-08-01 15:52] zerolab commented on #73
In order to support Django 3.0, we need to upgrade the channels side of things.
I propose we make channels support optional (as per #86)

[2020-08-01 16:23] zerolab opened #88 "Fix "Model 'grapple.stubmodel' was already registered" runtime warning"
[code]

[2020-08-05 16:08] thclark commented on #88
It's caused by [this line](https://github.com/GrappleGQL/wagtail-grapple/blob/8a341c0e1ddabe28f211b1007f92fce8cb160754/grapple/actions.py#L201) where a new model is generated for each node - the comment says temporary but they're not ;)

[2020-08-06 15:37] zerolab commented on #73
@IAmNatch @timmysmalls made a start on this last night - #89 could use some help with testing

[2020-08-09 09:13] #85 closed

[2020-08-10 00:33] IAmNatch commented on #50
@tbrlpld Did you ever resolve this issue? Live preview is such an important feature, I'd love to get it up and running.

[2020-08-10 09:18] zerolab commented on #49
@IAmNatch can you check whether https://github.com/GrappleGQL/wagtail-grapple/pull/90 fixes your issue?

[2020-08-10 21:25] zerolab commented on #69
Thank you for this. Fixed in c0932f2. The docstring was erroneous

[2020-08-10 21:25] #69 closed

[2020-08-10 21:43] tbrlpld commented on #50
Hi @IAmNatch
No, I have not resolved the issue. I am actually happy so far with the normal preview. When I wrote the above comments I had not tried the normal preview because the docs seemed to suggest that all preview needs the subscriptions to work. Once I noticed that preview works, but only the live update part is not working I basically stopped working on the issue with the subscriptions.

I

[2020-08-10 21:49] tbrlpld commented on #39
@easherma Just looking at the output again, the error message looks curious. `No such file or directory: '/code/../requirements.txt'`.

Where is the `/../` coming from? This would mean that the `requirements.txt` is expected in the root directory `/`.

[2020-08-10 22:43] IAmNatch commented on #50
@tbrlpld That makes sense. I've also gotten regular preview working, but live preview is such a killer feature in my mind, it's definitely something I'd like to resolve. Looking at wagtail-headless-preview I think you're right that it may be related to the lack of cookies- To test that I'll need to run this package locally as well. I'll report back next weekend when I can tinker a while longer.

[2020-08-10 23:00] IAmNatch commented on #49
@zerolab I can confirm that this has resolved my issue. Thanks to @NathHorrigan and yourself for the help!

[2020-08-10 23:01] #49 closed

[2020-08-11 08:25] zerolab commented on #39
ah.. example/requirements.txt references the root requirements.txt (as ../requirements.txt) which explains this. I would copy the root requirements.txt in your container

[2020-08-12 12:38] shanewilson opened #93 "ImportError: cannot import name 'get_document_model' from 'wagtail.documents.models'"
related to #46

wagtail==2.10
wagtail-grapple==0.5.5

[code]

It looks like only one of the two `get_document_model` imports was updated:
https://github.com/GrappleGQL/wagtail-grapple/search?q=get_document_model&unscoped_q=get_document_model

[2020-08-12 14:55] zerolab commented on #93
Thank you for this @shanewilson
Fixed in 569b05d

[2020-08-12 14:55] #93 closed

[2020-08-12 14:58] zerolab commented on #93
I've pushed v 0.5.6 to pypi

[2020-08-15 20:01] tbrlpld opened #94 "Add `url` field to `DocumentObjectType`"
I know you guys probably pretty busy, but I just wanted to drop this feature request for future updates 😉

Currently the `DocumentObjectType` provides the following fields:
[code]

The `file` field resolves to some path like string like `"documents/example.pdf"`. Now to actually generate a link where I can access the document I need to pull the Wagtail GraphQL enpoint from the plugin options, trim

[2020-08-17 00:22] IAmNatch commented on #94
@zerolab I put through a PR for this. Let me know if there's anything that you'd like me to adjust.

[2020-08-17 01:28] tbrlpld commented on #94
Me too ^^ #95

[2020-08-17 15:39] zerolab commented on #94
Let's go with `url` for the full URL, and leave `file` to maintain the relative path (as per https://github.com/GrappleGQL/wagtail-grapple/pull/96#issuecomment-674950403)

[2020-08-17 23:23] tbrlpld commented on #94
PR #95 has been updated accordingly.

[2020-08-18 08:03] #94 closed

[2020-08-18 22:04] zerolab commented on #78
@timmysmalls what is the query you were running this with? Was trying to write a test to reproduce the issue but with little luck so far

[2020-08-18 22:26] #78 closed

[2020-08-18 22:34] #73 closed

[2020-08-18 22:35] #61 closed

[2020-08-21 16:53] zerolab opened #100 "Add pagination support"
- Django paginator: https://gist.github.com/mbrochh/f92594ab8188393bd83c892ef2af25e6
- Cursors pagination: https://graphql.org/learn/pagination/  / https://docs.graphene-python.org/projects/django/en/latest/queries/#relay

[2020-09-02 11:49] #100 closed

[2020-09-02 14:58] zerolab opened #104 "Update GraphiQL"
as per
https://github.com/graphql-python/graphene-django/releases/tag/v2.12.0
https://github.com/graphql-python/graphene-django/releases/tag/v2.12.1
https://github.com/graphql-python/graphene-django/releases/tag/v2.13.0

This should also simplify the subscriptions logic a bit

[2020-09-04 08:05] zerolab opened #107 "Handle preview tokens with register_query_field / register_paginated_query_field"
This is handled by the generic `page` query via `get_specific_page()` -
https://github.com/GrappleGQL/wagtail-grapple/blob/5249f670f527db2735ad4cf5634e6bfbed582f60/grapple/types/pages.py#L150

[2020-09-07 16:15] #107 closed

[2020-09-18 14:27] leewesleyv opened #114 "Multi-site support"
**Issue**
It would be nice if `wagtail-grapple` would support a multi-site setup. E.g., there currently is no support for filtering page/pages based on a site. In a multi-site scenario, duplicate slugs can exist, and fetching a page would result in no results from the page query.

**My idea**
Add a filter to the page/pages query. We could for example introduce `hostname` as an optional parameter f

[2020-09-18 14:33] zerolab commented on #114
The simplest solution would be to do what the REST API does -- filter the querysets based on the request site - https://github.com/wagtail/wagtail/blob/8c306910dd86e09cea11196715da47c6a54c722b/wagtail/api/v2/views.py#L418
that way `siteA.com/api` returns everything that falls under Site a, wheas `siteB.com/api` returns pages under Site B

Additionally, add a new `site` query that you can wrap the

[2020-09-18 16:04] leewesleyv commented on #114
Thanks @zerolab for the input. I will open a PR when I have some time 😃

[2020-09-29 20:28] zerolab opened #116 "GraphQLForeignKey doesn't work with "wagtailcore.Page" for content_type"
trying to add `GraphQLForeignKey` pointing to `wagtailcore.Page` results in `Could not import 'grapple.schema.schema' for Graphene setting 'SCHEMA'. AttributeError: 'NoneType' object has no attribute '_meta'.`

Use case:
- an orderable with a page chooser that allows any type of page
- you want a list of chosen pages in the API

As far as I can see, the issue is around
https://github.com/GrappleGQ

[2020-09-30 01:17] tbrlpld commented on #116
I just ran into the same issue yesterday. What worked for me is [using the `GraphQLPage`](https://github.com/tbrlpld/headless-wagtail-form-backend/blob/4af521e8d09e9571c567fdb226d53b83445a55b9/forms/models.py#L61-L64) for the field that holds the backward relation of a foreign key relationship.

The model creating the foreign key relationship (in my case a page) does know the class it is pointing

[2020-10-01 15:20] zerolab commented on #116
Yeah, `GraphQLPage("field_name", source="method_that_returns_queryset", is_list=True)` did the trick.

I am tempted to close this as working as designed 🤔

[2020-10-01 22:04] tbrlpld commented on #116
Awesome! Glad this "workaround" is working for your case too.

If using the `GraphQLPage` field is the designed approach for this kind of relationship, we should maybe make that explicit in the [docs](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/model-types.html) too (not sure how I found it in the first place 😅). Currently there is no mention of the `GraphQLPage` field model. I

[2020-10-04 16:23] mmmente opened #117 "Nested StructBlock leads to "'str' object has no attribute 'value'""
Hi!
I really like how easy it is to use Grapple to get a GraphQL API up and running!
I just came across this. When having a StructBlock within a StructBlock, I cannot query it and the endpoint returns the error`"'str' object has no attribute 'value'"`

To test this, I copied the provided example/home/blocks.py and extend it with this use case:

[code]

`mainbutton` is the new field, which uses the

[2020-10-04 18:52] zerolab commented on #117
Hey @mmmente,

`GraphQLStreamfield` should just work 🤔
did you decorate `ButtonBlock` with `register_streamfield_block`, or at least define `graphql_fields` in it?
Would help to have the fullwe code here

[2020-10-04 19:12] mmmente commented on #117
Hey @zerolab,

thanks for getting back to me. Yes, I even can query the `buttons ` `ListBlock`.

I reduced the code to relevant parts:

blocks.py
[code]

Everything is migrated and data is entered.

Query:
[code]

Result form that Query:

[code]

I just realized, that when I only query the typenames of `mainbutton` and `buttons`, `mainbutton` is reported as a `StreamFieldBlock`, while buttons come

[2020-10-04 19:17] zerolab commented on #117
To me,
[code]

should read
[code]

but it could be just an artifact of copy pasting different bits of code to make the example relevant to the issue. If that is the case, then we'll investigate closer

[2020-10-04 19:19] mmmente commented on #117
Hi @zerolab, you're right, it should read that and I edited the comment to be correct. It was just a mistake due to the copy pasting.

[2020-10-04 20:34] zerolab commented on #117
@mmmente thank you for this. It reminded of a similar issue I experienced this week on a project but did not get time to look into.

Submitted a PR #118 -- can you give it a go?

The tl;dr of it is that the nested StructBlock's field were defined as a list of fields which in turn would fail to resolve. Changed to allow settings `is_list=False` (so you'd do `GraphQLStreamfield("mainbutton", is_list

[2020-10-04 20:55] zerolab commented on #116
@tbrlpld opened #119 with additions to docs. Would you be able to have a look/suggest improvements? Thanks

[2020-10-04 21:11] mmmente commented on #117
Wow, that was fast.

I gave it a go, with setting `GraphQLStreamfield("mainbutton", is_list=False)`, no other changes.

Query:
[code]

Result:
[code]

It seems to me that now the StreamField on the Model (`body`) is not correctly resolving.

[2020-10-04 21:23] zerolab commented on #117
Sorry, I pushed a change that broke things. Undid it. Can you try again with the latest from that PR?

[2020-10-05 07:23] mmmente commented on #117
Thanks @zerolab ! This fixes the issue and so far I did not come across any new bugs.

[2020-10-05 08:53] #116 closed

[2020-10-05 08:53] #117 closed

[2020-10-05 08:54] zerolab commented on #117
This is now on master. Will look at making a new release in the next day or two

[2020-10-05 17:22] zerolab opened #120 "Return the Wagtail Embed object for EmbedBlock"
Using `wagtail.embeds.get_embed`

[2020-10-05 18:07] tbrlpld commented on #116
@zerolab Of course, I will have a look!

[2020-10-05 19:29] zerolab opened #121 "Document GraphQLField"
including its various parameters
e.g. `required`, `is_list`, `source`

[2020-10-05 22:01] zerolab opened #123 "Fix "excluding custom field" warning after upgrading to graphene-django 2.8.1+"
See #105

`graphene_django/types.py:110: UserWarning: Excluding the custom field "<field name>" on DjangoObjectType "<class name>" has no effect. Either remove the custom field or remove the field from the "exclude" list.`

[2020-10-05 22:33] #120 closed

[2020-10-05 22:35] zerolab commented on #83
@tbrlpld could this have been the same issue as #117, fixed in #118 ?

[2020-10-05 23:55] tbrlpld commented on #83
@zerolab Yes, it does work! Awesome. Thanks for pointing this out!

[2020-10-05 23:55] #83 closed

[2020-10-07 10:36] #70 closed

[2020-10-07 10:43] zerolab opened #125 "Support webpquality option for renditions"
https://docs.wagtail.io/en/stable/topics/images.html#image-quality

[2020-10-07 10:45] zerolab opened #126 "Make the Query extensible when defining Schema"
e.g. to replace an existy query type (e.g search), or better handle optional queries like `MediaQuery` for wagtailmedia

[2020-10-07 10:53] #114 closed

[2020-10-07 12:02] #75 closed

[2020-10-07 17:32] mmmente opened #128 "Private and unpublished Pages are shown in children"
Hi,

I just realized, that unpublished and private pages are listed in children and via there can be accessed.
I assume the `resolve_children()` needs to get a `.live().public()` at the end. If accessing a page directly, they do not show up.

Or is this expected behaviour?

[2020-10-07 18:28] zerolab commented on #128
`get_specific_page()` does do `.live().public()`, so does `resolve_pages` and considering that we are not yet doing mutations is should likely be public everywhere. (i.e. `resolve_parent`,  `resolve_children`, `resolve_siblings`, `resolve_next_siblings`, `resolve_previous_siblings`, `resolve_descendants` and `resolve_ancestors`

Care to open an PR with the changes?

[2020-10-07 19:26] mmmente commented on #128
Done, see #129
Not sure why the test fails with the message of 403 to the repository...

[2020-10-08 09:40] #128 closed

[2020-10-08 09:41] zerolab commented on #128
fixed in #129

[2020-10-14 20:36] emil19 opened #131 "Snippet in StreamField"
Hello!

It seems like SnippetChooserBlock isn't working like i would initially have expected in a GraphQLStreamfield.

As far as i can tell by reading the source code, allowing accessing the snippet's graphql_fields in a GraphQLStreamfield has not
in any way been implemented. Like it would when a PageChooserBlock is accessed.

Example:

[code]

Am i missing something important that would allow me

[2020-10-14 23:11] tbrlpld commented on #131
Hi @emil19, I have not worked with snippets and Grapple yet, but did you see [this example in the docs](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/model-types.html#grapple.models.GraphQLSnippet)

[code]

Is you snippet registered with the `@register_snippet` decorator?

[2020-10-17 14:48] #125 closed

[2020-10-19 22:20] zerolab commented on #46
@stan-sack @timmysmalls can you check #133 ?

[2020-10-19 22:23] zerolab commented on #60
fixed in 37211857c7b5a1409bfc7b1dcb8320de558d85d8

[2020-10-19 22:23] #60 closed

[2020-10-20 17:02] #126 closed

[2020-10-20 17:02] #46 closed

[2020-10-20 17:02] #88 closed

[2020-10-20 19:38] zerolab commented on #131
Had a look. This is because of it is defined as a `graphene.String` field - https://github.com/GrappleGQL/wagtail-grapple/blob/master/grapple/types/streamfield.py#L460

Not yet entirely sure how to tackle it as I suspect we may have a dependency issue as `SnippetObjectType` is a `graphene.Union` that declares the types based on snippet models in the registry.
And even though the StreamField blocks

[2020-10-20 19:41] zerolab commented on #33
Note that with #132 in, you could add additional Query mixins to the schema.
Not using `Subscription`s anywhere yet, so didn't sort that out yet. Plus we need to update it for Django 3.x

[2020-11-04 19:44] zerolab opened #134 "Move away from accessing stream_data directly"
Ref: https://github.com/wagtail/wagtail/pull/6485

tl;dr "external code should not be using stream_data"

[2020-11-07 10:26] thclark opened #138 "DOCS: Add reference to gatsby-source-wagtail in the usage guide"
Hi folks,

Steadily implementing grapple as a side project, and have spent a lot of time getting `gatsby-source-graphql` working to pull in wagtail stuff for a frontend build.

However, I've just found the [`gatsby-source-wagtail`](https://www.gatsbyjs.com/plugins/gatsby-source-wagtail/) plugin (which was referenced in issue #81)! I had searched pretty extensively around graph, wagtail and gatsby

[2020-11-07 14:42] zerolab commented on #138
Hey @thclark,

While I disagree with the statement that Grapple is used primarily with Gatsby, I see the benefit of adding references to other packages and frontend frameworks and more. Feel free to submit a PR

[2020-11-07 15:35] thclark commented on #138
@zerolab PR Made. I changed the wording to "One common use case" rather than "Probably the most common"

As an aside, I'd like to hear what your view of the primary purpose of grapple is, if not to enable use as a headless CMS?

[2020-11-07 16:02] zerolab commented on #138
Thank you.

My view on it is that it provides an API without a prescriptive end use. It so happens the current usage for GraphQL endpoints is predominantly in the headless space. And that is great.

I would, however, steer away from equating headless with Gatsby, which was my main gripe. We use Grapple with Nuxt at the moment. Others with Next.js. At the end of the day, one should use the tool tha

[2020-11-07 18:44] thclark commented on #86
So, channels 3.x is out - can I assume this should be called "Upgrade to latest version of Channels"?

Assuming I get time over the next few weeks, (a big assumption right now, might just have to go with wordpress for the sake of speed but would rather get set up properly with a wagtail cms) I think this would be my priority to fix. How would you propose it's done? My suggestion would be:

- [ ] A

[2020-11-07 20:35] zerolab commented on #86
@thclark that sounds like a plan! Unfortunately I am not using it in any of the projects so cannot invest the time to take a deep dive with it yet.

👍 on a 1 release backwards compatibility with Channels 1.x if possible

[2020-11-07 20:39] zerolab commented on #138
Fixed via #139

[2020-11-07 20:39] #138 closed

[2020-11-16 19:41] timmysmalls commented on #68
Interesting question... I generally create a property on the model that looks something like this:

[code]

If there's a way to add a graphql field containing this property instead of a direct database field you should be able to achieve your goal, it would seem? Maybe try something like:

[code]

[2020-11-16 19:52] timmysmalls opened #141 "Filter on language"
With Wagtail 2.11's built in support for multi-language, it would be very useful to have a way to filter pages based on language.

[2020-11-25 18:39] isolationism commented on #31
I've added a PR for a solution that uses the `pageType` — I think `contentType` is something slightly different.

I am also filtering out the application prefix (i.e. the 'blog.' part of 'blog.BlogPage') to match the declared `pageType` returned in a query, but wonder if this isn't going to cause problems if two apps have the same model name.

[2020-11-25 19:29] isolationism commented on #86
@thechark I'm interested in seeing this project updated to work with these new releases as well.

Looking at the roadmap, I don't see any obvious async features for 3.2; 3.0 vs. 3.1 represents a bit of a moving target from what I can see.

I agree there could use more testing in the project, though it's not a subject I'm particularly skilled at or comfortable with designing; I could see fixing/upd

[2020-11-28 23:01] IAmNatch opened #145 "Unable to set ImageChooserBlock "required" field as false"
**Description**
When composing StructBlocks for Streamfield, grapple does not allow users to set ImageChooserBlocks's required field as false.

**Outcome**
When querying for an image field that should resolve for null (which is allowed on the GUI based on the false=true flag) the following error is received as a response:
[code]
As well the following message is logged to the console:
[code]

As an

[2020-12-22 17:14] zerolab commented on #31
The reason the `{ page(contentType:"home.AboutPage"){ ... on AboutPage { contentType id } }` query fails is that the content type filter only kicks in if there is a preview token - https://github.com/GrappleGQL/wagtail-grapple/blob/master/grapple/types/pages.py#L197-L209

@isolationism thank you for #144 -- I think we should stick to content type as a filter to avoid namespace clashes.

Will open

[2020-12-22 17:14] #123 closed

[2020-12-22 19:26] zerolab commented on #31
https://github.com/GrappleGQL/wagtail-grapple/pull/147

all reviews are welcome

[2020-12-23 17:09] #31 closed

[2020-12-30 16:03] zerolab commented on #84
Related: https://github.com/wagtail/rfcs/pull/65

[2021-01-08 17:51] stephiescastle opened #149 "Exception when a pagechooser page has been removed"
Ran into this issue when a page linked to another via pagechooser. However, the target page had since been deleted. In admin view, it appears as if no page is selected, however the db record still associates the field with the removed id.

When this occurs, the following graphQL error comes up when querying for data dependent on this relationship: "Cannot use None as a query value"

[2021-01-15 18:05] lanshark opened #150 "register_streamfield_block not documented?"
Hi guys - new to wagtail-grapple (great product, btw).

I am seeing references to register_streamfield_block in several places in the example, but no definition of exactly what it is, or when it should be used.  Seems like it should be documented on the Decorators page.

IF I have nested StructBlocks inside StreamFields, and the top-level is just a StreamField which contains those blocks, do I nee

[2021-01-15 19:27] zerolab commented on #150
Hey @lanshark, if they are custom StructBlocks then it is a good idea to register them, otherwise you have to go down a nested rabbit hole of blog type fragments. See `example/home/blocks.py`

We know documentation could use improvement -- any suggestions on how we can make it better are welcome. PRs even more so ;)

[2021-01-15 20:42] lanshark commented on #150
So, essentially, if it's gonna end up as a StreamField 'higher up', it should be decorated as such, and if it has component parts, those should be listed in graphql_fields for that component.

As for the PR, I may take a shot at it.  I'm also looking into porting the channels implementation to a Django-3 version (and possibly also one to support Django-2)

[2021-01-18 22:06] zerolab opened #151 "Add support for persisted queries"
tl;dr Persisted queries allows get quests using a hash using GET requests, thus allowing for greated cacheability and smaller requests.

### Resources
* https://www.apollographql.com/docs/apollo-server/performance/apq/
* https://www.apollographql.com/blog/persisted-graphql-queries-with-apollo-client-119fd7e6bba5/
* https://blog.codecentric.de/en/2020/05/how-to-secure-a-graphql-service-using-persis

[2021-01-24 19:36] ruisaraiva19 commented on #149
@stephiescastle can you provide more context on how to reproduce this issue? A step-by-step bullet list would be appreciated or some screenshots.

[2021-02-16 20:15] ARogovskyy opened #156 "Support for Wagtail 2.12"
Is there any reason why Wagtail 2.12 isn't supported? A quick test with the included example doesn't seem to produce any errors. The changelog ( https://docs.wagtail.io/en/v2.12/releases/2.12.html ) isn't suggesting any big breaking changes either.

[2021-02-16 20:55] zerolab commented on #156
Hey @ARogovskyy
that would be the https://github.com/GrappleGQL/wagtail-grapple/blob/main/setup.cfg#L40 constraint.

Will look at adding a minor release with a version bump.

[2021-02-17 13:34] ARogovskyy commented on #156
Yeah I'm aware, my question was more directed at if there's any code-related reason. Thanks for looking into it 👍

[2021-02-18 17:51] zerolab commented on #156
hey @ARogovskyy i've now release 0.10.2 which should allow installation on 2.12.
Please let us know if you encounter any issues

[2021-02-18 17:51] #156 closed

[2021-03-05 08:40] thibaudcolas opened #158 "Querying arbitrary renditions could be a vector for DoS attacks"
I spotted this on a project recently and wasn’t quite sure what to make of it – in its current shape, Grapple’s [`ImageObjectType`](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/graphql-types.html) supports querying arbitrary renditions:

[code]

This works very well with the GraphQL way of defining page requirements client-side, compared to the django-rest-framework equivalent `I

[2021-03-08 11:21] #158 closed

[2021-03-10 04:49] sks444 opened #164 "required attribute on GraphQLStreamField doesn't work"
Suppose that you have a StreamField and you're using GraphQLStreamField to generate the schema. Now to make the field as required we should use the the [required parameter](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/model-types.html#grapple.models.GraphQLStreamfield.required) as True. But that doesn't produce any affect to the schema.

[code]

[code]
### Why is it happening

In

[2021-03-10 09:44] zerolab commented on #164
Thank you @sks444, as per https://docs.graphene-python.org/en/latest/types/list-and-nonnull/#nonnull-lists this is a valid use case that we are missing

[2021-03-10 09:48] sks444 commented on #164
Thanks @zerolab,

Looks like this [line](https://github.com/GrappleGQL/wagtail-grapple/blob/2804dacf89525bbea6ba78b155696f9843954285/grapple/models.py#L30) could be replaced with `self.field_type = graphene.List(self.field_type)` which results in following schema:

[code]
But what in case we want something like:

[code]
Even doing `self.field_type = graphene.List(self.field_type, required=True)`,

[2021-03-11 10:46] sks444 opened #166 "rawValue for nested StreamField Doesn't work"
Suppose I have these blocks:

[code]

MainMenuItemBlock has SubMenuBlock which is an StreamBlock.

Here is my StreamField:

[code]

Now if I query for rawValue on MainMenuItem, I get the following error:

[code]
OR
[code]
Error:
[code]

[2021-03-11 11:29] sks444 commented on #166
in [resolve_raw_value](https://github.com/GrappleGQL/wagtail-grapple/blob/2804dacf89525bbea6ba78b155696f9843954285/grapple/types/streamfield.py#L67) we are checking for StructValue but when there is nested StreamBlock the object come as StreamValue.

[code]

[2021-03-12 09:34] sks444 opened #167 "GQL doc/schema: Show the blocks used for a StreamField"
[code]

In the doc or in the generated schema, whenever there is an StreamField, we see the StreamFieldInterface but clicking on that just lists all the blocks that were registered as stream_field_block. There is no way of knowing the specific blocks used for that StreamField when looking at the doc/schema.

[2021-03-25 10:18] ChrisSargent commented on #167
Hi, just following up on this... the issue is that when the GQL schema is created, we get something like this:

[code]

Then, when one of those blocks is used, the schema uses the steamfield interface, like so:

[code]

When using a codegenerator to get Typescript types for example, it means we will end up with something like...

[code]

But, in most cases, there is only ever one (or just a few) s

[2021-04-14 21:20] jayarnielsen opened #168 "Support for custom image models"
Hello 👋 I ran into my first hurdle with this excellent project and can't seem to find any documentation on it. Does Grapple support [custom image models](https://docs.wagtail.io/en/stable/advanced_topics/images/custom_image_model.html)?

When I attempt to query an image field which implements a custom model I get an error like...

[code]

[2021-04-14 22:36] zerolab commented on #168
Hey @jayarnielsen,

Grapple does support custom image models - https://github.com/GrappleGQL/wagtail-grapple/blob/main/grapple/types/images.py#L139

it is difficult to say what is going on without having more examples of how you're using Grapple

[2021-04-17 20:06] PeterDekkers opened #169 "Object type and/or field level authentication?"
Hello. Any pointers regarding applying (custom) authentication logic to object types or fields? Not quite sure where in the chain, if at all, this could be injected.

E.g. similarly to:

- https://docs.graphene-python.org/projects/django/en/latest/authorization/#user-based-queryset-filtering
- https://docs.graphene-python.org/projects/django/en/latest/authorization/#global-filtering

[2021-04-19 14:47] jayarnielsen commented on #168
Thanks for the quick response! I have a pretty straightforward custom image model:

[code]

and am setting it up according to the Wagtail docs:

[code]

But when i query for an image...

[code]

I get this response:

[code]

If I disable the custom image class I can query for images just fine.

[2021-04-19 15:46] zerolab commented on #168
How odd 🤔

The Grapple example app uses a custom image model:
https://github.com/GrappleGQL/wagtail-grapple/blob/main/example/images/models.py
https://github.com/GrappleGQL/wagtail-grapple/blob/main/example/example/settings/base.py#L162

Is your `core` app added to `GRAPPLE_APPS` in settings? (e.g. https://github.com/GrappleGQL/wagtail-grapple/blob/main/example/example/settings/base.py#L174)

[2021-04-19 17:48] zerolab commented on #168
Yes please. All improvements are welcome!

[2021-04-19 17:48] #168 closed

[2021-04-24 11:03] sks444 opened #170 "contentType filter on a Page doesn't work"
Query:

[code]

Response:
[code]

Looks like we can do `page = qs.first()` after [this line](https://github.com/GrappleGQL/wagtail-grapple/blob/bc0ed3182a10ca32ffa486fec236cdf48523936a/grapple/types/pages.py#L186). So whenever there is only contentType filter passed we return the first page.

[2021-04-24 11:11] zerolab commented on #170
Having seen this example in isolation, I don't think the content type filter makes sense on the page query. The page query is intendend to return a specific page matching given criteria. content type in isolation is like saying "give me the about page with.." and stopping there. What page? first, last? based on what criteria?

[2021-04-24 11:20] sks444 commented on #170
Yeah..that's valid. contentType filter on it's own on a page doesn't make sense.

We just wanted to utilize this filter to get a page which just have one instance. As we can not hard code `id`, `slug` in frontend as those can be changed. Not sure if there is any other way to get a page with single instance.

[2021-04-24 11:36] sks444 commented on #170
I suppose we can use it on pages with limit set to 1.

[code]
So this issue should be resolved.

Although I do have one more doubt. Actually we have multi site setup and we are doing these queries under a site. But the support for contentType filter on pages [under a site](https://github.com/GrappleGQL/wagtail-grapple/blob/bc0ed3182a10ca32ffa486fec236cdf48523936a/grapple/types/sites.py#L12) is not

[2021-04-24 11:58] zerolab commented on #170
Hey @sks444 it does make sense to have parity between the global pages search and the site query one, where they make sense.

Are you happy to submit a PR with that?

[2021-04-24 12:04] sks444 commented on #170
Sure. Will try to fix this one.

[2021-04-24 18:23] sks444 commented on #170
Hi @zerolab, I added a pr for this over at https://github.com/GrappleGQL/wagtail-grapple/pull/171. Let me know your views.

[2021-04-25 11:03] zerolab commented on #170
Closing as per https://github.com/GrappleGQL/wagtail-grapple/issues/170#issuecomment-826076611
#171 fixes the use case outlined in https://github.com/GrappleGQL/wagtail-grapple/issues/170#issuecomment-826079726

[2021-04-25 11:03] #170 closed

[2021-05-18 07:22] sks444 opened #173 "Allow support for wagtail 2.13 and Django 3.2"
https://docs.wagtail.io/en/stable/releases/2.13.html

Allow the latest version of Django and Wagtail in the [install_requires](https://github.com/GrappleGQL/wagtail-grapple/blob/12f5977ae190fd291927fa38618f716920e5310f/setup.cfg#L40) of setup.cfg.

[2021-05-18 08:24] sks444 commented on #173
I see we already have a pr for this at https://github.com/GrappleGQL/wagtail-grapple/pull/172.

[2021-06-18 15:05] fabienheureux commented on #173
I will restart working on this one next week @sks444, if ever you want to give a hand, feel free to help 👼

[2021-06-28 22:36] ruisaraiva19 commented on #169
@PeterDekkers It should be straightforward to add authenticated logic on fields, for example:

[code]

[2021-06-28 23:20] PeterDekkers commented on #169
Thank you 👍🏻

[2021-06-29 06:19] PeterDekkers commented on #169
Say @ruisaraiva19, I don’t suppose it’s possible to add authentication or other filtering to the default Wagtail fields that `wagtail-grapple` exposes? E.g. say I wanted to protect this query so only authenticated users have access:
[code]

[2021-06-29 07:09] ruisaraiva19 commented on #169
@PeterDekkers You should be able to add some custom middleware to do that:

And in your `settings.py`:

[code]

And in your `your_app/middleware.py`:

[code]

Let me know if this works for you.

[2021-06-29 21:43] PeterDekkers commented on #169
Thanks again @ruisaraiva19, that should indeed work.

[2021-06-30 08:55] zerolab commented on #169
Thank you @ruisaraiva19
This type of info is great for a "tips & tricks" section of the docs!

[2021-07-01 15:50] ruisaraiva19 commented on #169
Yes indeed. I'll add some snippets of code later this week.

[2021-07-19 09:34] ruisaraiva19 commented on #169
PR #177 was merged with Query level middleware support. Will be ready to use on the next release.

[2021-07-19 22:12] PeterDekkers commented on #169
Yeah, nice work @ruisaraiva19. Thank you!

[2021-07-28 19:50] jayarnielsen opened #178 "Document SnippetChooserBlock"
It looks like Grapple supports `SnippetChooserBlock` but I can't figure out how to make it work. The only documented way to use snippets is with a foreign key on a page model.

[2021-07-28 19:51] jayarnielsen commented on #178
Oops, this is a dup of #131

[2021-07-28 19:51] #178 closed

[2021-08-07 01:31] ARogovskyy opened #179 "Add ability to use custom resolvers in the various GraphQLFields"
Oftentimes, one needs to preprocess some data before passing it to graphql, or just implement a fully cusomized property. For django models, this is possible by adding a `@property` and pointing a `GraphQLField` to it. However, for, say, custom `StructBlocks` (that were registered using `@register_streamfield_block`) there is currently no way to do that. More concretely, I would like to render the

[2021-08-07 21:21] zerolab commented on #179
Hey @ARogovskyy, a PR would be more than welcome and much appreaciate!

I did find myself needing this a good while back, but there were a million things with higher priority and never got to it.

[2021-08-18 10:49] fabienheureux commented on #134
Won't this be fixed by https://github.com/GrappleGQL/wagtail-grapple/pull/172 ?

[2021-08-18 11:07] zerolab commented on #134
Yep, that'll do it

[2021-08-19 06:53] #173 closed

[2021-08-19 06:54] ruisaraiva19 commented on #134
Fixed by #172 .

[2021-08-19 06:54] #134 closed

[2021-08-21 21:20] #169 closed

[2021-09-01 14:40] fabienheureux opened #185 "JSONField output is not valid JSON"
When using a [JSONField ](https://docs.djangoproject.com/fr/3.2/ref/models/fields/#django.db.models.JSONField) through Grapple using a `GraphQLString` type, the output is not valid JSON.

Let's take the example below:
![image](https://user-images.githubusercontent.com/1702255/131690773-f8448895-c481-4ac4-b36e-9f0ab324034a.png)

The stringified version of `{"coucou": "youpi"}` uses single quote, wh

[2021-09-03 08:27] zerolab commented on #185
While 1️⃣ was my gut feeling (well, it is the easiest 😂), I think 2️⃣ is the more appropriate response.
Happy to hear alternatives. e.g. what added benefit would a `GraphQLJSON` type bring other than being more explicit?

[2021-09-03 09:12] fabienheureux commented on #185
I don't think 3️⃣has any added benefit other than the one you mentionned.
I will fix this in an incoming PR then, thanks for your feedback.

[2021-09-15 11:28] #86 closed

[2021-09-17 17:31] MateuszMielniczuk opened #189 "GraphQLStreamfield returns error or python object in graphQL in Wagtail's EmbedBlock"
From [example](https://github.com/GrappleGQL/wagtail-grapple/blob/main/example/home/blocks.py) in wagtail grapple:

[code]
This outputs EmbedValue object inside JSON:
[code]

Or if using just:
[code]
Gives error:
[code]

[2021-09-17 19:54] zerolab commented on #189
Which Wagtail version are you on?

[2021-09-18 09:09] MateuszMielniczuk commented on #189
This is 2.12.6 installed by grapple package 0.11.0.

[2021-09-18 15:22] zerolab commented on #189
Will need to look more into this.
As an aside, see https://github.com/GrappleGQL/wagtail-grapple/blob/c9bae44b7695118516859a1212148d0788aad954/example/home/test/test_blog.py#L385-L393 for an example of how you want to call it to get all details.

[2021-09-20 09:33] MateuszMielniczuk commented on #189
OK, thank you very much, it is working. It was not actually an issue it was not working as rawValue. When calling like that it is showing right values.

[2021-09-26 14:05] fraank opened #192 "graphiql endpointURL should be configurable"
In https://github.com/GrappleGQL/wagtail-grapple/blob/main/grapple/urls.py#L14 the graphql-endpoint it set statically to `/graphql`. The default configuration used in doc is exposing `/api/graphql`. This is a mismatch and cannot work together.

Maybe pointing the graphiql endpoint to `grapple_urls.root `is more conform?

[2021-10-30 11:30] sks444 opened #193 "Add Image Focal point fields"
Documentation says we can access focal point fields for an [ImageObjectType](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/graphql-types.html#imageobjecttype). But these fields are not available at the APIs.

Looks like we need to add them at [BaseImageObjectType](https://github.com/GrappleGQL/wagtail-grapple/blob/e92abab64ea0dcacf68cd68ccd64a66c055e55f6/grapple/types/images.py#L1

[2021-10-30 20:14] zerolab commented on #193
@sks444 that is correct. Happy to submit a PR?

[2021-11-05 08:21] ruisaraiva19 opened #196 "Support Wagtail v2.15"
https://docs.wagtail.io/en/stable/releases/2.15.html

Allow the latest version of Django and Wagtail in the [install_requires](https://github.com/GrappleGQL/wagtail-grapple/blob/main/setup.cfg#L40) of setup.cfg.

[2021-11-05 12:46] dopry opened #198 "Prerequisites in README.md do not match setup.cfg"
We are evaluating using wagtail-grapple in a project, and there seems to be a mismatch in the prerequisites in the

**README.md**
[code]

and

**setup.cfg**
[code]

The setup seems to indicate wagtail-grapple with channels will run fine on Django 3, While the README.md indicates we should be using <2.3.  I was hoping someone more knowledgeable than me could tell which is correct. It would be nice

[2021-11-05 13:08] zerolab commented on #198
Hey @dopry

The latest release does not fully support Django 3.2 (from #184), whereas the main branch does.
#197 will update the readme and with another PR, we should be good to make another release with full Wagtail 2.15 support too

[2021-11-05 14:34] #196 closed

[2021-11-05 14:45] #192 closed

[2021-11-05 17:33] #193 closed

[2021-11-08 20:11] PeterDekkers opened #199 "Version release with Wagtail 2.14 and 2.15 compatibility?"
Hello there. I'm wondering when your next release is planned to happen, to include compatibility with Wagtail 2.14 and 2.15.

If anything is holding this release up that you could use assistance with, I'd be happy to pitch in.

Thanks!

[2021-11-08 22:19] ruisaraiva19 commented on #199
@PeterDekkers Thanks for reaching out!

There is one last [PR](https://github.com/GrappleGQL/wagtail-grapple/pull/182) that we wanna merge before the next release!

[2021-11-08 23:31] zerolab commented on #199
Hey both,

#182 needs more considerations, so I went ahead and released [v0.12.0](https://pypi.org/project/wagtail-grapple/0.12.0/). Release notes at https://github.com/GrappleGQL/wagtail-grapple/releases/tag/v0.12.0

[2021-11-08 23:31] #199 closed

[2021-11-08 23:38] zerolab commented on #198
[v0.12.0](https://github.com/GrappleGQL/wagtail-grapple/releases/tag/v0.12.0) is now out

[2021-11-08 23:38] #198 closed

[2021-11-09 00:23] PeterDekkers commented on #199
Amazing, thank you @zerolab and @ruisaraiva19.

[2021-11-09 12:20] sks444 opened #200 "Correct GraphQL field for wagtail RichTextField"
[code]

I have been using `GraphQLString` for wagtail `RichTextField` which doesn't seem to be the most accurate way..as Richtext field output should ideally be passed through richtext method for the rendered content. E.g. In template there is richtext filter and [expand_db_html](https://github.com/wagtail/wagtail/blob/571b9e1918861bcbe64a9005a4dc65f3a1fe7a15/wagtail/core/rich_text/__init__.py#L24

[2021-11-09 23:18] sks444 commented on #200
Thanks @zerolab,

Do we want this to be handled in `GraphQLString` itself?

For testing purposes I added this bit of code to the [model_resolver](https://github.com/GrappleGQL/wagtail-grapple/blob/554cb2d5d253bffd4213fbfb4fb751351ccc7a29/grapple/actions.py?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%

[2021-11-11 08:18] 13hakta opened #201 "Replace ugettext_lazy with gettext_lazy"
PyTest throws multiple warnings with:
`RemovedInDjango40Warning: django.utils.translation.ugettext_lazy() is deprecated in favor of django.utils.translation.gettext_lazy().`

[2021-11-11 09:47] zerolab commented on #201
@13hakta thank for the report. Would gladly accept a PR that fixes this, and any other deprecation warnings

[2021-11-12 15:29] #201 closed

[2021-11-12 18:50] ma00 opened #203 "installation error"
On wagtail 2.14, after installing version 0.12 I get this error when I try to run server:
ModuleNotFoundError: No module named 'grapple'

[2021-11-12 19:01] zerolab commented on #203
Please can you provide a full stack trace?

[2021-11-12 19:11] ma00 commented on #203
Watching for file changes with StatReloader
Exception in thread django-main-thread:
Traceback (most recent call last):
  File "/Users/utente/anaconda/envs/base2/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/Users/utente/anaconda/envs/base2/lib/python3.8/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/utente/anaconda/

[2021-11-13 00:06] isolationism opened #204 "`RichTextField` returns internal markup while `RichTextBlock` returns browser-ready HTML"
First, a hat tip to all the developers working on this project; thank you for all you have done.

I encountered this one today. The issue can be described thus:

[code]

In the result of my GraphQL query for the `ExamplePage` object described above, the `body` field will be in Wagtail's [Rich Text Internals](https://docs.wagtail.io/en/stable/extending/rich_text_internals.html#rich-text-internals)

[2021-11-14 12:32] zerolab commented on #203
Nothing there to indicate anything. Are you certain the package was installed. What does `pip show wagtail_grapple` say?

[2021-11-14 12:38] zerolab commented on #204
@isolationism thank you for the detailed issue description.

There are two things here:
1. `RichTextField` and `RichTextBlock` produce inconsistent results
2. The output of these fields is subject to individual needs (e.g. see #200)

My gut reaction was: `raw_value` should output the field/block value with the unprocessed rich text internals, whereas the normal output should produce browser-ready

[2021-11-14 12:48] zerolab commented on #200
@sks444 this would need to be handled withing `GraphQLString`.
Worth coordinating with #204. Need to set aside some time to look into the additional encoding.

[2021-11-14 21:27] ma00 commented on #203
pip show wagtail_grapple
Name: wagtail-grapple
Version: 0.12.0
Summary: A Django app that speeds up and simplifies implementing a GraphQL endpoint!
Home-page: https://github.com/GrappleGQL/wagtail-grapple
Author: Nathan Horrigan
Author-email: nathan.horrigan@torchbox.com
License: UNKNOWN
Location: /usr/local/lib/python3.8/site-packages
Requires: Django, graphene-django, graphql-core, wagtail, wagt

[2021-11-14 22:12] zerolab commented on #203
Hmm, it looks like grapple is installed globally (`/usr/local/lib/python3.8/site-packages`) whereas you're getting an error in your virtual environment (`/Users/utente/anaconda/envs/base2/lib/python3.8/site-packages/`). Best to activate your virtual environment and install it there.

I do recommend joining the Wagtail Slack - see https://github.com/wagtail/wagtail/wiki/Slack for more details. Ther

[2021-11-14 22:12] #203 closed

[2021-11-15 13:08] MateuszMielniczuk commented on #50
@IAmNatch @tbrlpld as far as I understand, to use normal preview there is need to write .html template and use jinja? So there will be 2 pages one on front-end site and second on Wagtail. And with any change on front page we need to change it also on Wagtail?

Is there any progress on subscriptions or any clue how to fix it? I was trying to implement that on 0.12.0 release and documentation with n

[2021-11-15 14:16] tbrlpld commented on #50
@MateuszMielniczuk No, you don't need separate Django or Jinja template. That would be quite the waste.

You will need https://pypi.org/project/wagtail-headless-preview/ on the backend and the headless frontend needs to be setup to work with that. If you are using Gatsby for the frontend, you can use https://github.com/GrappleGQL/gatsby-source-wagtail to enable preview.

[2021-12-10 23:30] dopry opened #208 "Publish wagtail-grapple-example image to docker hub to facilitate testing."
I'm working on the gatsby 4 update of the wagtail source plugin. It would be nice to have an easy to start wagtail+grapple instance for testing.

[2021-12-11 11:34] zerolab commented on #208
Hey @dopry,

I've closed #209 with an explanation to why. Let's move this discussion to https://github.com/GrappleGQL/wagtail-grapple-demo

[2021-12-11 11:34] #208 closed

[2021-12-11 14:39] dopry commented on #208
I pushed up an alternate fix that addresses the issues you raise in #209. It should allow you to publish a docker image from this repo in the same release process as the package. It seems like it would save you maintaining and releasing from a second repo in parallel to this one.

[2022-01-14 11:57] warcivil opened #211 "add django-filters in wagtail-grapple"
hello, is it possible to add django-filters to wagtail grapple to filter graphql queries?

[2022-01-14 12:03] zerolab commented on #211
Not at this point in time.

How would you see that working?

[2022-01-14 12:06] warcivil commented on #211
is this supposed to happen in the future?
I didn't quite understand your question

[2022-01-14 12:08] zerolab commented on #211
There are no plans to add django-filters to filter the graphql queries.

To make that happen we would need a solid plan, hence my asking how you imagine that working?

[2022-01-14 13:04] warcivil commented on #211
I probably won't be able to answer your question
maybe answer my
1. is it possible to filter at least by the fields of the page object (url ...)
2. is it possible to filter through the wagtail engine (you also have indexed fields and filters there)
3. you can filter in python and not in the database

[2022-01-14 13:08] zerolab commented on #211
you can filter by a number of things, see the graphiql interface for the schema.

e.g. for pages you can do id, slug, title, url_path, content_type, site

[2022-02-02 13:10] airv-b commented on #211
Hello,

Maybe I have the same question.
Is it possible to exclude a result from a query?

Example, I have the following query:
[code]

and in response, I have:

[code]
how can we have exclude (in the query) for example "slug: test-blog-5" and have this as a response :

[code]

[2022-02-09 16:09] Didericis opened #213 "Error when trying to add queries for user"
Hey, thanks for this package, is pretty great so far. I've ran into an issue when trying to register a query field for a django user, though. This is what the models file for the user currently looks like:

[code]

When I hit the api, I get the following error:

[code]

I poked around in the registry code to try to figure out what's going on, haven't figured out the issue yet. Any pointers/ideas?

[2022-02-09 16:51] zerolab commented on #179
WIP PR: #188

[2022-02-09 16:58] zerolab commented on #211
At the moment that is not possible.
At the same time, we do have a mechanism for defining your own query - https://wagtail-grapple.readthedocs.io/en/latest/general-usage/hooks.html#query so I suggest using that

[2022-02-09 17:01] Didericis commented on #213
@zerolab 🤦  that did it! Thanks, appreciate the fast reply!

[2022-02-09 17:01] #213 closed

[2022-02-17 07:19] dilonne opened #214 "Where do models with @register_query_field appear on the Wagtail admin interface"

[2022-02-17 07:23] dilonne commented on #214
https://docs.wagtail.org/en/stable/reference/contrib/modeladmin/index.html

[2022-02-17 07:23] #214 closed

[2022-02-17 09:17] zerolab commented on #214
For reference, `@register_query_field` is to expose a model to wagtail-grapple, which has *no* Wagtail admin UI.

[2022-02-25 16:39] zerolab commented on #211
Will go ahead and close this as I do not have the capacity or desire to add this for now

[2022-02-25 16:39] #211 closed

[2022-02-25 16:58] zerolab commented on #39
This is fixed by #210

[2022-02-25 16:58] #39 closed

[2022-03-01 17:32] dilonne opened #219 "Filter pages with page model field"
How can one use a page model field besides ID to filter pages? Decorating a page model with @register_query_field allows custom query parameters to be used with the singular query but not with the plural query.

[2022-03-01 21:26] zerolab commented on #219
Have you tried [`@register_paginated_query_field`](https://wagtail-grapple.readthedocs.io/en/latest/general-usage/decorators.html#grapple.helpers.register_paginated_query_field) ?

[2022-03-01 21:28] dilonne commented on #219
Let me give it a try

[2022-03-01 21:37] dilonne commented on #219
@register_paginated_query_field only adds to more arguments(page and per page) to the plural query

[2022-03-01 22:50] zerolab commented on #219
The documentation says:

[code]

then use it in your query:

[code]

so you should be able to replace `url` with you field in the definition

[2022-03-02 14:22] dilonne commented on #219
Ended up overriding @register_query_field to allow the plural query to be able to use custom query params just like the singular query

[2022-03-25 12:25] zerolab commented on #179
#220 solves this

[2022-03-25 15:45] zerolab commented on #179
callables and property support landed via #220

[2022-03-25 15:45] #179 closed

[2022-04-08 18:05] flyte commented on #189
This is still an issue on Wagtail 2.16.1 with Grapple 0.14.1. @zerolab might be worth reopening this Issue?

It does break queries that use `StreamFieldInterface.rawValue`.

[2022-04-08 23:04] flyte commented on #219
Sorry to do this twice in one day, but this is also still an issue in the latest version! I'm struggling to work out how to add filters to the plural query. @zerolab perhaps this should be reopened too?

[2022-04-12 23:12] seb-b opened #227 "Only first middleware is ran through decorator"
If multiple middleware are added to the `register_query_field`, only the first one is ran e.g.

[code]

Then the output is only 'Running first'. Switching the order means only second is outputted.

I think it's because of this line [here](https://github.com/GrappleGQL/wagtail-grapple/blob/main/grapple/middleware.py#L51) where only the first `field_middleware` is returned in the loop instead of yie

[2022-04-13 08:03] zerolab commented on #227
@seb-b that is a great catch. Do you have time to submit a PR?

[2022-06-16 15:22] timmysmalls commented on #200
Or a GraphQLRichText model? I'm not sure if what's the most elegant way to go about it? I could implement either and create a MR.

[2022-06-17 21:37] Didericis opened #231 "Add a way to define custom Interfaces"
We're using this project to define some models that inherit from other models, both of which are exposed as graphql types via grapple. It'd be really awesome if there were some way we could declare an interface, and then have grapple pay attention to model inheritance to apply those interfaces. Here's an example using two classes where we were wanting this feature.

[code]

The main reason we're w

[2022-06-21 13:26] ssyberg commented on #231
Following

[2022-06-21 13:42] ssyberg commented on #231
To expand on this a bit, having a general purpose hook(s) to modify the schema to define interfaces, unions, etc would be awesome! (Beyond the hooks already provided, which are a great start)

[2022-07-21 14:17] kbayliss opened #234 "`BASE_URL` needs replacing with `WAGTAILADMIN_BASE_URL` when using `wagtail>=3.0`"
From https://github.com/wagtail/wagtail/releases/tag/v3.0:

[2022-07-25 15:53] zerolab opened #237 "Document the need for `graphql_fields` on custom rendition models"
When using a custom image model, with a custom rendition model one needs to add

[code]

to the custom rendition model. (Alternatively https://github.com/torchbox/wagtail-grapple/blob/566967686fdaf0da27ea70e7cc75098da75aa0e9/example/images/models.py#L16-L35)

Document, or fix so it is not needed

[2022-07-28 13:27] Tijani-Dia opened #238 "Add a way to specify image format when generating `src` set of renditions"
We can specify different image formats when using [`srcset`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/srcset). However, the `srcSet` being currently generated for an image can only contain the default image format.

It would be nice to have a way to specify different formats:
[code]

[2022-08-05 16:00] dopry opened #239 "Add parent and ancestor arguments to pages query"
It would be nice to subselection based on where pages are in the site tree, In my specific use case I'm building an SPA where we have a 'stories' landing page, and need to show a paginated list of stories that are children of the 'stories' page.

alternatively, they could probably be named parent and ancestor...

[2022-08-06 23:15] Khatskevich opened #241 "Add django 4.1 support"
Wagtail now supports Django 4.1.
For some users wagtail-grapple may be the last dependency which prevents from updating Django.

It will be nice to have support Django 4.1.

[2022-08-07 14:28] dopry opened #243 "Your 'site' filter value of 'b' returned multiple sites."
When running the tests for the example in main, 44d9cec3766107c82556dc3d315c1ffe2f4dc999
I am getting the error

[code]

[2022-08-07 14:34] dopry opened #244 "ERROR: test_properties_on_saved_example_document (example.tests.test_grapple.DocumentsTest)"
When running the example tests for main, 44d9cec3766107c82556dc3d315c1ffe2f4dc999, I get the following error.

[code]

[2022-08-07 14:50] dopry commented on #239
I didn't realize there were children and descendants fields. If you're looking to do something similar you should query the children or descendants of your root page, rather than trying to treat pages as a flat list using a child_of or descendant_of filter.

[code]

[2022-08-07 15:51] dopry opened #246 "Cannot switch branches because of example/db.sqllite3"
When I have the server running and start switching branches I get the error
[code]

this is a pretty common activity for me as a I switch between test branches and don't really want to alter the database... plus the first instruction in the getting started is to delete the database... Unless it serves some other purpose, it seems like it should be removed.

[2022-08-07 22:46] dopry opened #249 "Pages Query multiple content types"
It would be nice to query more than one content type at a time. We have a few page types and would like to collate some of them into a single view.

[2022-08-08 01:09] dopry commented on #33
@easherma did the example from @IAmNatch, https://github.com/torchbox/wagtail-grapple/issues/33#issuecomment-597954453, help your resolve your issue?

[2022-08-08 03:44] dopry commented on #50
I played with live preview using the latest wagtail_headless_preview. You can check out my fix/live-preview-subscriptions to see what I'm working on.

As far as I can tell in [wagtail_headless_prevew.models.HeadlessPreviewMixin.serve_preview](https://github.com/torchbox/wagtail-headless-preview/blob/f289aaf03170cd343a7345b4922a06b015052af1/src/wagtail_headless_preview/models.py#L102), use_live_pre

[2022-08-08 08:11] zerolab commented on #243
The test suite runs just fine in the CI, as it does for me locally.
It is unclear as to how you are running the tests. Any chance you can expand on that?

[2022-08-08 08:13] zerolab commented on #244
@dopry you do need to provide more context to this.
I see this is on Windows, but it is unclear how you're running the tests and so on. They work fine in the CI/locally for me

[2022-08-08 08:18] zerolab commented on #239
This is in the docs - https://wagtail-grapple.readthedocs.io/en/latest/general-usage/graphql-types.html?highlight=descendants#pageinterface

There's scope to improve the documentation

[2022-08-08 15:17] dopry commented on #244
here are the instructions to reproduce...

1. windows 10/python 3.10/bash
2. `cd example`
3. `python -m venv ./venv`
4. `. ./venv/Scripts/activate`
5. `pip install -r requirements.txt`
6. `python manage.py test`

I'm pretty much running the tests as directed by the instructions in only a virtual environment but on windows 10. NTFS is simply more strict about deleting files that are in use. In Linu

[2022-08-08 16:44] dopry commented on #243
The test isn't failing. I'm just getting the traceback in the console... It's pretty straight forward setup. windows10/python3.10/bash.

`python manage.py test example.tests.test_grapple.SettingsTest.test_query_single_setting_with_site_filter_clashing_port`

[code]

This is an actual error that is raised, but it is expected in this case. It would be nice to suppress the traceback so new contributo

[2022-08-08 16:58] #244 closed

[2022-08-08 17:50] dopry commented on #150
I'm quite confused by @register_streamfield_block. In my project, I have a bunch of custom block types.  For each block, I've implemented the block and a resolver and then registered them in my app... It's been a lot of boiler plate to write. Here is a simple and complex example from my current project...

blocks.py
[code]

grapple.py
[code]

app.py
[code]

It seems like with @register_streamfield

[2022-08-08 19:12] dopry commented on #150
I dug into this some more... using @register_streamfield_block seems to add a `blocks` property as well that will include all your graphql fields... It's serviceable as I can still access the individual fields directly...

I don't really understand the use case for the register method to add a 'blocks' graphql field. Maybe there is an implicit assumption here that blocks are declared in the order

[2022-08-08 19:14] dopry commented on #150
Actually, it seems like `blocks` is coming from the struct block base class, `grapple.types.streamfield.StructBlock`

[2022-08-09 08:55] #249 closed

[2022-08-09 15:56] dopry commented on #234
I'm not sure that we necessarily want to replace all of those with WAGTAIL_ADMIN_BASEURL. That isn't necessarily the base URL for the site or the media.

*  [grapple.utils.get_media_item_url](https://github.com/torchbox/wagtail-grapple/blob/8a54577e715ff4fedff3258b9efd37eae52036ae/grapple/utils.py#L184)

   Media is not always hosted with the wagtail site. Most large sites I've worked on use cloud

[2022-08-10 14:12] dopry opened #253 "Improper URL Generation"
Wagtail grapple prepends most URLs with BASE_URL to create absolute URLs. It doesn't seem like wagtail grapple should be responsible for generating these absolute URLs. It seems a responsibility more suited to a type-specific model class or a consumer of the API. wagtail grapple should have a single responsibility of dynamically exposing internal types and fields to graphene and resolving them usi

[2022-08-10 14:16] dopry commented on #234
3.0 will still work with BASE_URL it's just deprecated. Removing the use of BASE_URL eliminates the need for this task and churn in the code.  I opened a new ticket for the URL generation bugs.

[2022-08-10 14:24] ghost opened #254 "Query param not working for plurals"
`@register_query_field(
    "city",
    "citys",
    {"country_id": graphene.Int()},
    required=True,
    plural_required=True,
    plural_item_required=True,
)`

I am trying to filter citys based on country but its not working
`{
  citys(countryId: 1){
    id
    title
  }
}`
Can someone help me on how to achieve this

[2022-08-10 14:52] kbayliss commented on #234
If a project is using 3.0, they will likely have already removed `BASE_URL` as per the upgrade recommendations and replaced it with `WAGTAILADMIN_BASE_URL`, which will break `wagtail-grapple` unless they do something like:

`BASE_URL = WAGTAILADMIN_BASE_URL = "http://..."` which feels unnecessary.

[2022-08-19 14:49] #238 closed

[2022-08-19 16:36] #204 closed

[2022-08-19 16:36] #200 closed

[2022-08-19 16:37] zerolab commented on #204
#259 ensures the `RichTextBlock`'s `rawValue` is always the non-rendered one.

Additionally it adds a new `RICHTEXT_FORMAT` setting defaulting to "html", which both `RichTextField` and `RichTextBlock` respect

[2022-08-19 16:38] zerolab commented on #200
#259 ensures the `RichTextBlock`'s `rawValue` is always the non-rendered one.

Additionally it adds a new `RICHTEXT_FORMAT` setting defaulting to "html", which both `RichTextField` and `RichTextBlock` respect.

Opted to steer away from a `GraphQLRichText` since it did not make sense as such

[2022-08-21 12:04] Morsey187 opened #260 "Add graphql fields for core wagtail model properties"
It would be a nice enhancement to not have to write our own graphql_fields for core wagtail model properties, for example wagtail's image model (AbstractImage) is missing the fields `default_alt_text` and `filename`, requiring you to add them manually.

[2022-08-26 04:41] dopry opened #262 "get_image_type returns different values depending on the INSTALLED_APPS order"
I have an app that defines a new Image model.  I had my app before grapple in the installed apps...

I was getting the following results from get_image_type()

[code]

since import_apps doesn't happen until grapple.apps.Grapple.ready the inferred types from the project models aren't yet registered.

It would be nice if grapple fired a signal after it had imported all the apps so applications could

[2022-08-31 08:49] jams2 commented on #241
This appears to be due to `graphene-django` being incompatible with Django 4 (4.1?).

`graphene-django` [appears to be unmaintained](https://github.com/graphql-python/graphene-django/issues/1334). See also https://github.com/graphql-python/graphene-django/issues/1324#issuecomment-1140494403.

This will probably also affect https://github.com/torchbox/wagtail-grapple/pull/143

[2022-08-31 10:21] Tijani-Dia opened #264 "`N*M + 1` problem when fetching image renditions"
When we fetch multiple image renditions using the `srcSet` parameter on image queries, we end up having an `N * M + 1` situation, where `N` is the total number of images to retrieve renditions for and `M` is the number of renditions to generate.

I've opened a draft PR with a test which confirms this behaviour here: #263.

[2022-09-02 09:10] kbayliss commented on #260
Similar to https://github.com/torchbox/wagtail-grapple/issues/237

[2022-09-02 13:49] Morsey187 opened #265 "Document `CustomQuery` example for `register_schema_query` hook"
I'm on a project where we've found ourselves having to use a custom query via the `register_schema_query` hook for a snippet model, we're no longer querying via snippets because of this and I've had to resolve a RichtextField myself, for example:

[code]
We could either document an example of a `CustomQuery` class with a wagtail field on this [page](https://wagtail-grapple.readthedocs.io/en/latest

[2022-09-02 14:09] zerolab commented on #265
Improving docs is a always a good thing.

Alternatively, we could perhaps create a new `GraphQLRichText` model that does all of this for devs?

[2022-09-02 14:24] Morsey187 commented on #265
I'd be in favour of adding a new GraphQLRichText field type. I'm on holiday for 2 weeks now but definitely keen to pick this one up myself if no one gets to it before then.

[2022-09-06 08:50] kbayliss commented on #131
I think this is closed by https://github.com/torchbox/wagtail-grapple/pull/256

[2022-09-06 08:53] zerolab commented on #131
#256 indeed fixes snippet chooser blocks.

[2022-09-06 08:53] #131 closed

[2022-09-08 04:28] praveenwissend commented on #254
@zerolab or any one please help me on this :/

[2022-09-08 09:48] zerolab commented on #254
There's #225 which attempted to fix this, but it went in a direction I don't think is needed.
Currentl quite busy, so can't promise anything, sorry

[2022-09-10 13:42] mdfathi99 commented on #43
+1 I'm experiencing exactly like this.

[2022-09-13 15:09] zerolab commented on #264
We could make use of https://docs.wagtail.org/en/latest/releases/4.0.html#image-renditions-can-now-be-prefetched-by-filter for Wagtail 4.0+

[2022-09-15 08:45] zerolab opened #267 "The StreamField callback functionality fails when you have a field named after a base block attribute"
Given

[code]

you get

[code]

because Wagtail's `Block` class has a `label` attribute ([ref](https://github.com/wagtail/wagtail/blob/b356fe683f49c37b9ba8838747602a5c5ecc892b/wagtail/blocks/base.py#L94))

workaround:

[code]

[2022-09-21 13:08] Tijani-Dia opened #268 "Querying the ID for blocks in a nested StructBlock inside a StreamBlock returns incorrect value"
We've had an issue querying the IDs for blocks in a nested `StructBlock` inside a `StreamBlock`.

I've been to reproduce the issue using the [`CarouselBlock`](https://github.com/torchbox/wagtail-grapple/blob/main/example/home/blocks.py#L63) in the `example` directory. See 8b0f547941d5468eca43b87454ee2281adb7189d.

Instead of the ID, the query returns the block name inside the parent StreamBlock. S

[2022-09-28 00:38] PeterDekkers commented on #241
`graphene-django` v3.0.0 was just released, which adds Django 4 support.

https://github.com/graphql-python/graphene-django/releases/tag/v3.0.0

[2022-09-28 08:25] zerolab commented on #241
cross-posted to #143.

[2022-10-26 15:38] #268 closed

[2022-10-31 14:10] #264 closed

[2022-10-31 14:34] zerolab commented on #265
This is now fixed by #266

[2022-10-31 14:34] #265 closed

[2022-11-11 16:08] dopry opened #274 "urlPath generation with multisite setups."
In wagtail I have a site, `example.com`, setup.  The root page is Example located at `/example.`  When I query the pages over graphql they all come back with the urlPath `/example/path/to/page`. I have code in my frontend that parses /example out of the path for every page to generate links.  I kind of understand how wagtail's multisite is supposed to work but don't use it. Is there a way to get g

[2022-11-28 17:21] dopry opened #275 "GetPage(id: ..., token: "...") returning null for unpublished pages"
My headless preview call the GraphQL API to get the page data with the token. When pages are unpublished it is returning null, so that pages cannot be previewed before publishing.

Given
[code]

When the page is unpublished the response is  ```{  "data":{ "page": null }}  ```
When the page is published the response is ```{ "data": {  "page": {  "title": "Test Preview unpublished"  }}}```

[2022-11-28 17:25] dopry commented on #275
I'm feel like the problem is https://github.com/torchbox/wagtail-grapple/blob/bcf83c88ccbcd1e17e61b1e07babf98604463b7f/grapple/types/pages.py#L181

I feel like live() should not be included if token is set.

[2022-11-28 17:35] zerolab commented on #275
Good 🕵️‍♂️!

[2022-11-29 17:54] dopry commented on #275
@zerolab I'll work on a fix to get_specific_page. I feel like, in a future release, it may be wise to have a separate graphql query for getPagePreview(token: String!). There are a lot of conditions stacking up in get_specific_page, and making .live() and .public() conditional could lead to errors where we accidentally expose draft content to the public.

the token has the page id embedded.  So a g

[2022-11-29 23:02] zerolab opened #279 "Improve test matrix and build tools"
- [ ] move to tox for greater control e.g. test against python 3.11 (but exclude Wagtail 2.15)
- [ ] move to flit for build
- [ ] consolidate dev/test requirements

[2022-11-30 20:14] dopry commented on #279
should we also consider implementing modernized packaging with [pyproject.toml](https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/)? With metadata per [PEP 621](https://peps.python.org/pep-0621/) we can specify grouped dependencies. I'm not sure how it would impact the rest of the build and release pipeline. I've been slowly converting all of my personal project to use pyproject.

[2022-11-30 22:45] zerolab commented on #279
yes to pyproject.toml, but flit for the build/release. IMHO poetry is too bloated for this.
https://github.com/wagtail/cookiecutter-wagtail-package/pull/32 for reference